@using System.Globalization
@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.Extensions.Localization
@using Microsoft.Extensions.Options
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.LeptonX.Themes.LeptonX.Components.SideMenu.Toolbar.LanguageSwitch
@using Volo.Abp.LeptonX.Shared.Localization
@using Volo.Abp.LeptonX.Shared
@model ThemeLanguageInfo

@inject IStringLocalizer<LeptonXResource> L
@inject IOptions<LeptonXThemeOptions> Options
@inject IStringLocalizerFactory LocalizerFactory

<li class="outer-menu-item">
	<a class="lpx-menu-item-link lpx-menu-item" data-lpx-setting-group="appearance">
		<span class="lpx-menu-item-icon"><i class="lpx-icon bi bi-palette-fill" aria-hidden="true"></i></span>

		<span class="lpx-menu-item-text hidden-in-hover-trigger">@L["Appearance"]</span>

		<i class="dd-icon hidden-in-hover-trigger lpx-caret bi-chevron-down" aria-hidden="true"></i>
	</a>

	<ul class="lpx-inner-menu hidden-in-hover-trigger collapsed">
	
		@foreach (var item in Options.Value.Styles)
		{
			<li class="lpx-inner-menu-item">
				<a class="lpx-menu-item-link lpx-menu-item" data-lpx-setting="@item.Key">
					<span class="lpx-menu-item-icon"><i class="lpx-icon @item.Value.Icon" aria-hidden="true"></i></span>

					<span class="lpx-menu-item-text hidden-in-hover-trigger">@item.Value.DisplayName.Localize(LocalizerFactory).Value</span>
				</a>
			</li>
		}
		
	</ul>
</li>

@if (Model.Languages.Any() && Model.Languages.Count > 1)
{
	<li class="outer-menu-item">
		<a class="lpx-menu-item-link lpx-menu-item" data-lpx-setting-group="language">
			<span class="lpx-menu-item-icon"><i class="lpx-icon bi bi-globe" aria-hidden="true"></i></span>

			<span class="lpx-menu-item-text hidden-in-hover-trigger">@L["Language"]</span>

			<i class="dd-icon hidden-in-hover-trigger lpx-caret bi-chevron-down" aria-hidden="true"></i>
		</a>

		<ul class="lpx-inner-menu hidden-in-hover-trigger collapsed">
			@{
				var returnUrl = System.Net.WebUtility.UrlEncode(Context.Request.GetEncodedPathAndQuery());
			}

			@foreach (var language in Model.Languages)
			{
				var twoLetterLanguageName = new CultureInfo(language.CultureName).TwoLetterISOLanguageName.ToUpper();
				
				<li class="lpx-inner-menu-item">
					<a href="~/Abp/Languages/Switch?culture=@language.CultureName&uiCulture=@language.UiCultureName&returnUrl=@returnUrl" class="lpx-menu-item-link lpx-menu-item@(language.CultureName == Model.CurrentLanguage.CultureName ? " selected" : string.Empty)" data-lpx-setting="@twoLetterLanguageName">
						<span class="lpx-menu-item-text hidden-in-hover-trigger">@language.DisplayName / @twoLetterLanguageName</span>
					</a>
				</li>
			}
		</ul>
	</li>
}