@page "/Cms/BlogPosts/Create"
@attribute [Authorize(CmsKitAdminPermissions.BlogPosts.Create)]
@inject AbpBlazorMessageLocalizerHelper<CmsKitResource> LH
@using Volo.CmsKit.Localization
@using Volo.CmsKit.Admin.Blogs
@using Volo.CmsKit.Permissions
@using Microsoft.AspNetCore.Authorization
@using Volo.Abp.BlazoriseUI.Components.ObjectExtending
@inherits CmsKitProComponentBase

@* ************************* PAGE HEADER ************************* *@
<PageHeader Title="@L["BlogPosts"]" BreadcrumbItems="@BreadcrumbItems">

</PageHeader>

<Card>
    <CardBody>
        <Form>
            <Validations @ref="@ValidationsRef" Model="@BlogPost" ValidateOnLoad="false">
                <Field>
                    <FieldLabel>@L["CoverImage"]</FieldLabel>
                    <FileEdit Filter="image/*" Changed="@OnCoverImageChangedAsync"/>
                </Field>
                <Validation MessageLocalizer="@LH.Localize" Validator="@ValidateBlogId" >
                    <Field>
                        <FieldLabel>@L["Blog"]</FieldLabel>
                        <Select @bind-SelectedValue="@BlogId">
                            <SelectItem Value="@Guid.Empty">-</SelectItem>
                            @foreach (var blog in Blogs)
                            {
                                <SelectItem Value="@blog.Id">@blog.Name</SelectItem>
                            }
                        </Select>
                    </Field>
                </Validation>
                <Validation MessageLocalizer="@LH.Localize">
                    <Field>
                        <FieldLabel>@L["Title"] *</FieldLabel>
                        <TextEdit TextExpression="@(()=> BlogPost.Title)" Text="@BlogPost.Title" TextChanged="OnTitleTextChangedAsync" Autofocus="false">
                            <Feedback>
                                <ValidationError/>
                            </Feedback>
                        </TextEdit>
                    </Field>
                </Validation>
                <Validation MessageLocalizer="@LH.Localize">
                    <Field>
                        <FieldLabel>@L["Slug"] *</FieldLabel>
                        <TextEdit TextExpression="@(()=> BlogPost.Slug)" Text="@BlogPost.Slug" TextChanged="OnSlugTextChangedAsync" Autofocus="false">
                            <Feedback>
                                <ValidationError/>
                            </Feedback>
                        </TextEdit>
                    </Field>
                </Validation>
                <Validation MessageLocalizer="@LH.Localize">
                    <Field>
                        <FieldLabel>@L["ShortDescription"]</FieldLabel>
                        <TextEdit @bind-Text="BlogPost.ShortDescription" Autofocus="false">
                            <Feedback>
                                <ValidationError/>
                            </Feedback>
                        </TextEdit>
                    </Field>
                </Validation>
                <DynamicWidgetMarkdown @bind-Value="@BlogPost.Content"></DynamicWidgetMarkdown>
                <Field>
                    <FieldLabel>@L["Tags"]</FieldLabel>
                    <TextEdit @bind-Text="@Tags" Autofocus="false">
                        <Feedback>
                            <ValidationError/>
                        </Feedback>
                    </TextEdit>
                </Field>
                <ExtensionProperties TEntityType="CreateBlogPostDto" TResourceType="CmsKitResource" Entity="@BlogPost" LH="@LH" ModalType="ExtensionPropertyModalType.CreateModal" />
            </Validations>
        </Form>
    </CardBody>
    <CardFooter>
        <Row>
            <Column ColumnSize="ColumnSize.IsAuto" Class="px-1 pt-2">
                <Button Color="Color.Primary" Outline Clicked="@SaveToDraftAsync">@L["SaveAsDraft"]</Button>
            </Column>

            @if (HasPublishPermission)
            {
                <Column ColumnSize="ColumnSize.IsAuto" Class="px-1 pt-2">
                    <Button Color="Color.Primary" Clicked="@PublishBlogPostAsync">@L["Publish"]</Button>
                </Column>
            }
            else
            {
                <Column ColumnSize="ColumnSize.IsAuto" Class="px-1 pt-2">
                    <Button Color="Color.Primary" Clicked="@WaitingForReviewAsync">@L["SendToReviewToPublish"]</Button>
                </Column>
            }
        </Row>
    </CardFooter>
</Card>