@page "/Cms/Blogs"
@attribute [Authorize(CmsKitAdminPermissions.Blogs.Default)]
@using Microsoft.AspNetCore.Authorization
@inject AbpBlazorMessageLocalizerHelper<CmsKitResource> LH
@using Volo.CmsKit.Admin.Blogs
@using Volo.CmsKit.Blogs
@using Volo.CmsKit.Localization
@using Volo.CmsKit.Permissions
@using Volo.Abp.BlazoriseUI.Components.ObjectExtending
@inherits AbpCrudPageBase<IBlogAdminAppService, BlogDto, Guid, BlogGetListInput, CreateBlogDto, UpdateBlogDto>

@* ************************* PAGE HEADER ************************* *@
<PageHeader Title="@L["Blogs"]" BreadcrumbItems="@BreadcrumbItems" Toolbar="@Toolbar">

</PageHeader>

@* ************************* DATA GRID ************************* *@
<AbpExtensibleDataGrid TItem="BlogDto"
                       Data="Entities"
                       ReadData="OnDataGridReadAsync"
                       TotalItems="TotalCount"
                       ShowPager="true"
                       PageSize="PageSize"
                       CurrentPage="@CurrentPage"
                       Columns="@BlogsManagementTableColumns"
                       Responsive="true">
</AbpExtensibleDataGrid>

@* ************************* CREATE MODAL ************************* *@
@if (HasCreatePermission)
{
    <Modal @ref="CreateModal" Closing="@ClosingCreateModal" RenderMode="ModalRenderMode.LazyReload">
        <ModalContent Centered="true">
            <Form>
                <ModalHeader>
                    <ModalTitle>@L["NewBlog"]</ModalTitle>
                    <CloseButton Clicked="CloseCreateModalAsync" />
                </ModalHeader>
                <ModalBody>
                    <Validations @ref="@CreateValidationsRef" Model="@NewEntity" ValidateOnLoad="false">
                        <Validation MessageLocalizer="@LH.Localize">
                            <Field>
                                <FieldLabel>@L["Name"] *</FieldLabel>
                                <TextEdit @bind-Text="NewEntity.Name" Autofocus="true">
                                    <Feedback>
                                        <ValidationError/>
                                    </Feedback>
                                </TextEdit>
                            </Field>
                        </Validation>
                        <Validation MessageLocalizer="@LH.Localize">
                            <Field>
                                <FieldLabel>@L["Slug"] *</FieldLabel>
                                <TextEdit @bind-Text="NewEntity.Slug" Autofocus="false">
                                    <Feedback>
                                        <ValidationError/>
                                    </Feedback>
                                </TextEdit>
                            </Field>
                        </Validation>
                        <ExtensionProperties TEntityType="CreateBlogDto" TResourceType="CmsKitResource" Entity="@NewEntity" LH="@LH" ModalType="ExtensionPropertyModalType.CreateModal" />
                    </Validations>
                </ModalBody>
                <ModalFooter>
                    <Button Color="Color.Primary" Outline Clicked="CloseCreateModalAsync">@L["Cancel"]</Button>
                    <SubmitButton Clicked="@CreateEntityAsync" />
                </ModalFooter>
            </Form>
        </ModalContent>
    </Modal>
}

@* ************************* EDIT MODAL ************************* *@
@if (HasUpdatePermission)
{
    <Modal @ref="EditModal" Closing="@ClosingEditModal" RenderMode="ModalRenderMode.LazyReload">
        <ModalContent Centered="true">
            <Form>
                <ModalHeader>
                    <ModalTitle>@L["Edit"]</ModalTitle>
                    <CloseButton Clicked="CloseEditModalAsync" />
                </ModalHeader>
                <ModalBody>
                    <Validations @ref="@EditValidationsRef" Model="@EditingEntity" ValidateOnLoad="false">
                        <Validation MessageLocalizer="@LH.Localize">
                            <Field>
                                <FieldLabel>@L["Name"] *</FieldLabel>
                                <TextEdit @bind-Text="EditingEntity.Name" Autofocus="true">
                                    <Feedback>
                                        <ValidationError/>
                                    </Feedback>
                                </TextEdit>
                            </Field>
                        </Validation>
                        <Validation MessageLocalizer="@LH.Localize">
                            <Field>
                                <FieldLabel>@L["Slug"] *</FieldLabel>
                                <TextEdit @bind-Text="EditingEntity.Slug" Autofocus="false">
                                    <Feedback>
                                        <ValidationError/>
                                    </Feedback>
                                </TextEdit>
                            </Field>
                        </Validation>
                        <ExtensionProperties TEntityType="UpdateBlogDto" TResourceType="CmsKitResource" Entity="@EditingEntity" LH="@LH" ModalType="ExtensionPropertyModalType.EditModal" />
                    </Validations>
                </ModalBody>
                <ModalFooter>
                    <Button Color="Color.Primary" Outline Clicked="CloseEditModalAsync">@L["Cancel"]</Button>
                    <SubmitButton Clicked="@UpdateEntityAsync" />
                </ModalFooter>
            </Form>
        </ModalContent>
    </Modal>
}

@* ************************* Feature MODAL ************************* *@

@if (HasFeaturePermission)
{
    <Modal @ref="FeatureModal" Closing="@ClosingFeatureModal" RenderMode="ModalRenderMode.LazyReload">
        <ModalContent Centered="true">
            <Form>
                <ModalHeader>
                    <ModalTitle>@L["Features"]</ModalTitle>
                    <CloseButton Clicked="CloseFeatureModalAsync" />
                </ModalHeader>
                <ModalBody>
                    <Field>
                        @foreach(var item in BlogFeatures)
                        {
                            if (IsFeatureAvailable(item))
                            {
                                <Check TValue="bool" @bind-Checked="@item.IsEnabled">@L[item.FeatureName]</Check>
                            }
                            else
                            {
                                <Tooltip Text="@L["BlogFeatureNotAvailable"]">
                                    <Check TValue="bool" @bind-Checked="@item.IsEnabled" Disabled>@L[item.FeatureName]</Check>
                                </Tooltip>
                            }
                        }
                    </Field>
                </ModalBody>
                <ModalFooter>
                    <Button Color="Color.Primary" Outline Clicked="CloseFeatureModalAsync">@L["Cancel"]</Button>
                    <SubmitButton Clicked="@UpdateBlogFeatureAsync" />
                </ModalFooter>
            </Form>
        </ModalContent>
    </Modal>
}