@page "/Cms/Pages/Update/{Id:guid}"
@attribute [Authorize(CmsKitAdminPermissions.Pages.Update)]
@inject AbpBlazorMessageLocalizerHelper<CmsKitResource> LH
@using Volo.Abp.BlazoriseUI.Components.ObjectExtending
@using Volo.CmsKit.Localization
@using Volo.CmsKit.Permissions
@using Microsoft.AspNetCore.Authorization
@using Volo.CmsKit.Admin.Pages
@inherits CmsKitProComponentBase

@* ************************* PAGE HEADER ************************* *@
<PageHeader Title="@L["Pages"]" BreadcrumbItems="@BreadcrumbItems">

</PageHeader>

@if (EditingPage != null)
{
    <Card>
        <CardBody>
            <Form>
                <Validations @ref="@ValidationsRef" Model="@EditingPage" ValidateOnLoad="false">
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Title"] *</FieldLabel>
                            <TextEdit @bind-Text="EditingPage.Title" Autofocus="true">
                                <Feedback>
                                    <ValidationError/>
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Slug"] *</FieldLabel>
                            <Tooltip Text="@L["PageSlugInformation"]">
                                <TextEdit @bind-Text="EditingPage.Slug" Autofocus="false">
                                    <Feedback>
                                        <ValidationError/>
                                    </Feedback>
                                </TextEdit>
                            </Tooltip>
                        </Field>
                    </Validation>
                    <ExtensionProperties TEntityType="UpdatePageInputDto" TResourceType="CmsKitResource" Entity="@EditingPage" LH="@LH" ModalType="ExtensionPropertyModalType.EditModal" />
                </Validations>

                <Tabs @bind-SelectedTab="@SelectedTab" RenderMode="TabsRenderMode.LazyLoad">
                    <Items>
                        <Tab Name="content">@L["Content"]</Tab>
                        <Tab Name="script">@L["Script"]</Tab>
                        <Tab Name="style">@L["Style"]</Tab>
                    </Items>
                    <Content>
                        <TabPanel Name="content">
                            <DynamicWidgetMarkdown @ref="@MarkdownRef" @bind-Value="@EditingPage.Content"></DynamicWidgetMarkdown>
                        </TabPanel>
                        <TabPanel Name="script">
                            <Markdown @bind-Value="@EditingPage.Script" LineNumbers="true" HideIcons="@HideIcons" AutoDownloadFontAwesome="false" UploadImage="false">
                                <Toolbar>
                                    <MarkdownToolbarButton Action="MarkdownAction.Bold"/>
                                </Toolbar>
                            </Markdown>
                        </TabPanel>
                        <TabPanel Name="style">
                            <Markdown @bind-Value="@EditingPage.Style" LineNumbers="true" HideIcons="@HideIcons" AutoDownloadFontAwesome="false" UploadImage="false">
                                <Toolbar>
                                    <MarkdownToolbarButton Action="MarkdownAction.Bold"/>
                                </Toolbar>
                            </Markdown>
                        </TabPanel>
                    </Content>
                </Tabs>
            </Form>
        </CardBody>
        <CardFooter>
            <Button Color="Color.Primary" Clicked="@UpdatePageAsync">@L["Submit"]</Button>
        </CardFooter>
    </Card>
}
