@using Volo.Abp.ObjectExtending
@using Volo.Abp.Localization
@using Volo.Abp.Data
@inherits AbpIdentityProComponentBase

<Modal @ref="ViewDetailsModal" RenderMode="ModalRenderMode.LazyReload">
    <ModalContent Centered="true">
        <Form>
            <ModalHeader>
                <ModalTitle>@L["ViewDetails"] - @User.UserName</ModalTitle>
                <CloseButton Clicked="CloseViewDetailsModalAsync"/>
            </ModalHeader>
            <ModalBody>
                <Tabs @bind-SelectedTab="@EditModalSelectedTab">
                    <Items>
                        <Tab Name="UserInformations">@L["UserInformations"]</Tab>
                        @if (HasManageOuPermission)
                        {
                            <Tab Name="OrganizationUnits">@L["OrganizationUnits{0}", SelectedOrganizationUnits.Count(x => x.Value)]</Tab>
                        }
                        <Tab Name="General">@L["General"]</Tab>
                    </Items>
                    <Content>
                        <TabPanel Name="UserInformations">
                            <table class="table table-striped align-middle" >
                                <tbody>
                                <tr>
                                    <td class="col-5">@L["DisplayName:UserName"]</td>
                                    <td>@ConvertUserFriendlyFormat(User.UserName)</td>
                                </tr>
                                <tr>
                                    <td class="col-5">@L["DisplayName:Name"]</td>
                                    <td>@ConvertUserFriendlyFormat(User.Name)</td>
                                </tr>
                                <tr>
                                    <td class="col-5">@L["DisplayName:Surname"]</td>
                                    <td>@ConvertUserFriendlyFormat(User.Surname)</td>
                                </tr>
                                <tr>
                                    <td class="col-5">@L["DisplayName:Email"]</td>
                                    <td>@ConvertUserFriendlyFormat(User.Email)</td>
                                </tr>
                                <tr>
                                    <td class="col-5">@L["Roles"]</td>
                                    <td>@(User.RoleNames.Any() ? User.RoleNames.JoinAsString(",") : DefaultEmptyValue)</td>
                                </tr>
                                @foreach (var propertyInfo in ObjectExtensionManager.Instance.GetProperties<IdentityUserDto>())
                                {
                                    if (!propertyInfo.Name.EndsWith("_Text"))
                                    {
                                        <tr>
                                            <td class="col-5">@propertyInfo.GetLocalizedDisplayName(StringLocalizerFactory)</td>
                                            <td>@ConvertUserFriendlyFormat(User.GetProperty(propertyInfo.Name)?.ToString())</td>
                                        </tr>
                                    }
                                }
                                <tr>
                                    <td class="col-5">@L["DisplayName:PhoneNumber"]</td>
                                    <td>@ConvertUserFriendlyFormat(User.PhoneNumber)</td>
                                </tr>                    
                                <tr>
                                    <td class="col-5">@L["DisplayName:IsActive"]</td>
                                    <td>@ConvertUserFriendlyFormat(User.IsActive)</td>
                                </tr>     
                                <tr>
                                    <td class="col-5">@L["DisplayName:ShouldChangePasswordOnNextLogin"]</td>
                                    <td>@ConvertUserFriendlyFormat(User.ShouldChangePasswordOnNextLogin)</td>
                                </tr>
                                <tr>
                                    <td class="col-5">@L["DisplayName:LockoutEnabled"]</td>
                                    <td>@ConvertUserFriendlyFormat(User.LockoutEnabled)</td>
                                </tr>
                                <tr>
                                        <td class="col-5">@L["IsExternal"]</td>
                                    <td>@ConvertUserFriendlyFormat(User.IsExternal)</td>
                                </tr>
                                </tbody>
                            </table>
                        </TabPanel>
                        @if (HasManageOuPermission)
                        {
                            <TabPanel Name="OrganizationUnits">
                                @if (SelectedOrganizationUnits.Any(x => x.Value))
                                {
                                    <TreeView
                                        Items="OrganizationUnits"
                                        GetChildren="@(item => item.Children)"
                                        HasChildren="@(item => item.HasChildren)">
                                        <ItemTemplate>
                                            <span class="ms-1 me-1 d-inline" @onclick:stopPropagation>
                                                <i class="fas fa-folder fs-15px text-primary me-1"/>
                                                <Check Disabled="true" Inline="true" TValue="bool" @bind-Checked="@SelectedOrganizationUnits[context.Item.Id]">
                                                    @context.Item.DisplayName
                                                </Check>
                                            </span>
                                        </ItemTemplate>
                                    </TreeView>
                                }
                                else
                                {
                                    @L["NoOrganizationUnits"]
                                }
                            </TabPanel>
                        }
                        <TabPanel Name="General">
                            <table class="table table-striped align-middle" >
                                <tbody>
                                <tr>
                                    <td class="col-5">@L["CreatedBy"]</td>
                                    <td>@ConvertUserFriendlyFormat(CreatedBy)</td>
                                </tr>
                                <tr>
                                    <td class="col-5">@L["CreationTime"]</td>
                                    <td>@ConvertUserFriendlyFormat(User.CreationTime)</td>
                                </tr>
                                <tr>
                                    <td class="col-5">@L["ModifiedBy"]</td>
                                    <td>@ConvertUserFriendlyFormat(ModifiedBy)</td>
                                </tr>
                                <tr>
                                    <td class="col-5">@L["ModificationTime"]</td>
                                    <td>@ConvertUserFriendlyFormat(User.LastModificationTime)</td>
                                </tr>
                                <tr>
                                    <td class="col-5">@L["PasswordUpdateTime"]</td>
                                    <td>@ConvertUserFriendlyFormat(User.LastPasswordChangeTime)</td>
                                </tr>                    
                                <tr>
                                    <td class="col-5">@L["LockoutEndTime"]</td>
                                    <td>@ConvertUserFriendlyFormat(User.LockoutEnd)</td>
                                </tr>
                                <tr>
                                    <td class="col-5">@L["FailedAccessCount"]</td>
                                    <td>@User.AccessFailedCount</td>
                                </tr>                    
                                </tbody>
                            </table>
                        </TabPanel>
                    </Content>
                </Tabs>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary" class="col-12 mb-3" Clicked="CloseViewDetailsModalAsync">@L["Close"]</Button>
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>