@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using Volo.Saas.Localization
@model Volo.Saas.Host.Pages.Saas.Host.Tenants.SetPassword
@inject IHtmlLocalizer<SaasResource> L
@{
	Layout = null;
}
<form method="post" class="cupForm" asp-page="/Saas/Host/Tenants/SetPassword">
	<abp-modal>
		<abp-modal-header title="@(L["SetPassword"].Value + " - " + Model.TenantName)"></abp-modal-header>
		<abp-modal-body>
			<abp-input asp-for="ChangePasswordInput.Id" />

			<div class="mb-3">
				<label for="AdminName">@L["UserName"]</label>
				<div class="input-group">
					<div class="form-control p-0">
						<input type="text" class="form-control" id="AdminName" asp-for="ChangePasswordInput.UserName">
						<span class="text-danger field-validation-valid" asp-validation-for="ChangePasswordInput.UserName" data-valmsg-replace="true"></span>
					</div>
				</div>
				<div class="form-text ms-0" >
 					<label>@L["UserNameTooltip"]</label>
 				</div>
			</div>

			<div class="mb-3">
				<label for="NewPasswordInput">@L["Password"]</label>
				<div class="input-group">
					<div class="form-control p-0 input-group">
						<input type="password" class="form-control" id="NewPasswordInput" asp-for="ChangePasswordInput.NewPassword">
						<button class="btn text-muted position-absolute top-0 end-0" id="PasswordVisibilityButton" type="button">
							<i class="fa fa-eye-slash"></i>
						</button>
					</div>					
					<button class="btn btn-secondary" id="GenerateRandomPasswordButton" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="@L["GeneratePassword"].Value">
						<i class="fa fa-refresh"></i>
					</button>
				</div>
				<span class="text-danger field-validation-valid" asp-validation-for="ChangePasswordInput.NewPassword" data-valmsg-replace="true"></span>
			</div>
		</abp-modal-body>
		<abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
	</abp-modal>
</form>
