@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using Volo.Abp.Identity.Localization
@using Volo.Abp.Identity.Web.Pages.Identity.OrganizationUnits
@model DeleteModal
@inject IHtmlLocalizer<IdentityResource> L
@{
    Layout = null;
}

<form method="post"  asp-page="/Identity/OrganizationUnits/DeleteModal" autocomplete="off">
    <abp-modal>
        <abp-modal-header title="@L["AreYouSure"].Value"></abp-modal-header>
        <abp-modal-body>

            <abp-input asp-for="OrganizationUnit.Id" type="hidden"></abp-input>

            <p class="fw-bold">@L.GetString("OrganizationUnitDeletionConfirmationMessage", Model.OrganizationUnit.Name).Value</p>

            @if (Model.OrganizationUnit.UserCount > 0)
            {
                <p class="mt-2">@L.GetString("ChooseAnActionForOrganizationUnit", Model.OrganizationUnit.UserCount).Value</p>

                <div class="form-check">
                    <input class="form-check-input" type="radio" checked name="assign" id="unassign">
                    <label class="form-check-label" for="unassign">@L["UnassignTheOrganizationUnitFromTheUsers"].Value</label>
                </div>

                if (Model.OrganizationUnit.OtherOrganizationUnits.Any())
                {
                    <div class="form-check mt-2">
                        <input class="form-check-input" type="radio" name="assign" id="assign">
                        <label class="form-check-label" for="assign">@L["AssignUsersToOtherOrganizationUnit"].Value</label>
                    </div>
                    <select name="OrganizationUnit.AssignToOrganizationUnitId" id="OrganizationUnit_AssignToOrganizationUnitId" class="form-select mt-2" style="display: none">
                        <option value="" selected>@L["SelectAnOrganizationUnitToAssign"].Value</option>
                        @foreach (var organizationUnit in Model.OrganizationUnit.OtherOrganizationUnits)
                        {
                            <option value="@organizationUnit.Key">@organizationUnit.Value</option>
                        }
                    </select>
                }
            }
        </abp-modal-body>
        <abp-modal-footer>
            <button class="btn btn-outline-danger" data-bs-dismiss="modal" type="button">@L["Cancel"]</button>
            <button class="btn btn-danger" type="submit"><i class="fa fa-trash"></i> <span>@L["Delete"]</span></button>
        </abp-modal-footer>
    </abp-modal>
</form>
