@using Localization.Resources.AbpUi
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.MultiTenancy
@using Volo.Abp.UI.Navigation
@using Volo.Abp.Users

@inject ICurrentUser CurrentUser
@inject ICurrentTenant CurrentTenant
@inject IHtmlLocalizer<AbpUiResource> L
@model Volo.Abp.UI.Navigation.ApplicationMenu

<div class="lpx-avatar-wrapper">
    <a href="javascript:void(0)" class="lpx-avatar-container" data-lpx-ctx-toggle="user-context-menu">
        <div class="lpx-username">@CurrentUser.UserName</div>
        <div class="lpx-avatar ">
            <img class="lpx-avatar-img" src="@Url.Content($"~/api/account/profile-picture-file/{CurrentUser.GetId()}")" alt="@CurrentUser.UserName">
        </div>
    </a>
    <div class="lpx-context-menu" data-lpx-context-menu="user-context-menu">
        <div class="lpx-context-menu--header">
            <div class="lpx-user-ctx-header">
                <div class="lpx-user-ctx-img"><div class="lpx-avatar "><img class="lpx-avatar-img" src="@Url.Content($"~/api/account/profile-picture-file/{CurrentUser.GetId()}")" alt="@CurrentUser.UserName"></div></div>
                <div class="lpx-user-ctx-info">
                    <span class="lpx-context-menu-user-name">@CurrentUser.UserName</span>
                    @if (CurrentTenant.IsAvailable)
                    {
                        <span class="lpx-context-menu-user-tenant">@CurrentTenant.Name</span>
                    }
                    <span class="lpx-context-menu-user-email">@CurrentUser.Email</span>
                </div>
            </div>
        </div>
        <div class="lpx-user-ctx-body">
            <ul class="lpx-nav-menu" id="toolbar-body-routes">
                @foreach (var menuItem in Model.Items)
                {
                    var customComponentType = menuItem.GetComponentTypeOrDefault();
                    if(customComponentType != null && typeof(ViewComponent).IsAssignableFrom(customComponentType))
                    {
                        @(await Component.InvokeAsync(customComponentType))
                    }
                    else
                    {
                        var url = string.IsNullOrEmpty(menuItem.Url) ? "#" : Url.Content(menuItem.Url);
                        if((menuItem.Name == "Account.Manage" || menuItem.Name == "Account.SecurityLogs") && !url.Contains("returnUrl", StringComparison.InvariantCultureIgnoreCase))
                        {
                            var returnUrl = Context.Request.Query["returnUrl"];
                            if (!returnUrl.ToString().IsNullOrWhiteSpace())
                            {
                                url += "?returnUrl=" + System.Net.WebUtility.UrlEncode(returnUrl);
                            }
                        }
                        <li class="outer-menu-item" id="@menuItem.ElementId">
                            <a class="lpx-menu-item-link lpx-menu-item @menuItem.CssClass" href="@url" target="@menuItem.Target">
                                <span class="lpx-menu-item-icon"><i class="lpx-icon @menuItem.Icon" aria-hidden="true"></i></span>
                                <span class="lpx-menu-item-text hidden-in-hover-trigger">@menuItem.DisplayName</span>
                            </a>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</div>